{{ define "main" }}
	<main class="content" role="main">
    {{ $pages := .Pages }}
    {{ if .IsHome }}
      {{ $pages = where .Site.RegularPages "Type" "in" site.Params.mainSections }}
    {{ end }}
    {{ $paginator := .Paginate $pages }}
    <div class="extra-pagination">
      {{ partial "pagination.html" . }}
    </div>
    {{ $.Scratch.Set "counter" 0 }}
    {{ range $paginator.Pages }}
      {{ if .Site.Params.smallPictures }}
        {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
        {{ if eq ( mod ($.Scratch.Get "counter") 2 ) 1 }}
          {{ .Render "summaryLeft" }}
        {{ else }}
          {{ .Render "summaryRight" }}
        {{ end }}
      {{ else }}
        {{ .Render "summary" }}
      {{ end }}
    {{ end }}
    {{ partial "pagination.html" . }}
	</main>
{{ end }}
